html,body{
    margin: 0;
    padding: 0;
}
#card{
    float: left;
    margin: 12px;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    padding: 10px;
}
#card img{
    max-width: 100%;
    width: 300px;
}
.modal-content img{
    width: 100%;
}